.App {
  text-align: center;
  font-size: 52.5%;
  width: 80%;
  margin: auto;
  font-family: 'Domine', serif;
}

#title {
  font-size: 1.5rem;
}

.main-header {
  display: flex;
}

.courses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses-header h2 {
  font-size: 2rem;
}

.courses-header input {
  flex-grow: 1;
  width: 100%;
}
